src/main/wsdl/extpoll.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://virtualpostman.co.za/vp/webservices/ExternalPoll/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExternalPollService" targetNamespace="http://virtualpostman.co.za/vp/webservices/ExternalPoll/v1/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://virtualpostman.co.za/vp/webservices/ExternalPoll/v1/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://virtualpostman.co.za/vp/webservices/ExternalPoll/v1/">
  <xs:element name="getExternalPollDocumentNew" type="tns:getExternalPollDocumentNew"/>
  <xs:element name="getExternalPollDocumentNewResponse" type="tns:getExternalPollDocumentNewResponse"/>
  <xs:element name="resetExternalPollDocumentNew" type="tns:resetExternalPollDocumentNew"/>
  <xs:element name="resetExternalPollDocumentNewResponse" type="tns:resetExternalPollDocumentNewResponse"/>
  <xs:element name="setExternalPollDocumentProcessed" type="tns:setExternalPollDocumentProcessed"/>
  <xs:element name="setExternalPollDocumentProcessedResponse" type="tns:setExternalPollDocumentProcessedResponse"/>
  <xs:complexType name="getExternalPollDocumentNew">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
      <xs:element minOccurs="0" name="nodeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExternalPollDocumentNewResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="archiveId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resetExternalPollDocumentNew">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
      <xs:element name="archiveId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resetExternalPollDocumentNewResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="setExternalPollDocumentProcessed">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionId" type="xs:string"/>
      <xs:element name="archiveId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setExternalPollDocumentProcessedResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="InvalidArgument" type="tns:InvalidArgument"/>
  <xs:complexType name="InvalidArgument">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authentication" type="tns:Authentication"/>
  <xs:complexType name="Authentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authorization" type="tns:Authorization"/>
  <xs:complexType name="Authorization">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="resetExternalPollDocumentNew">
    <wsdl:part element="tns:resetExternalPollDocumentNew" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setExternalPollDocumentProcessed">
    <wsdl:part element="tns:setExternalPollDocumentProcessed" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AuthenticationFault">
    <wsdl:part element="tns:Authentication" name="AuthenticationFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setExternalPollDocumentProcessedResponse">
    <wsdl:part element="tns:setExternalPollDocumentProcessedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidArgumentFault">
    <wsdl:part element="tns:InvalidArgument" name="InvalidArgumentFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExternalPollDocumentNew">
    <wsdl:part element="tns:getExternalPollDocumentNew" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetExternalPollDocumentNewResponse">
    <wsdl:part element="tns:resetExternalPollDocumentNewResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AuthorizationFault">
    <wsdl:part element="tns:Authorization" name="AuthorizationFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExternalPollDocumentNewResponse">
    <wsdl:part element="tns:getExternalPollDocumentNewResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExternalPoll">
    <wsdl:operation name="getExternalPollDocumentNew">
      <wsdl:input message="tns:getExternalPollDocumentNew" name="getExternalPollDocumentNew">
    </wsdl:input>
      <wsdl:output message="tns:getExternalPollDocumentNewResponse" name="getExternalPollDocumentNewResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AuthorizationFault" name="AuthorizationFault">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidArgumentFault" name="InvalidArgumentFault">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationFault" name="AuthenticationFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetExternalPollDocumentNew">
      <wsdl:input message="tns:resetExternalPollDocumentNew" name="resetExternalPollDocumentNew">
    </wsdl:input>
      <wsdl:output message="tns:resetExternalPollDocumentNewResponse" name="resetExternalPollDocumentNewResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AuthorizationFault" name="AuthorizationFault">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidArgumentFault" name="InvalidArgumentFault">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationFault" name="AuthenticationFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setExternalPollDocumentProcessed">
      <wsdl:input message="tns:setExternalPollDocumentProcessed" name="setExternalPollDocumentProcessed">
    </wsdl:input>
      <wsdl:output message="tns:setExternalPollDocumentProcessedResponse" name="setExternalPollDocumentProcessedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AuthorizationFault" name="AuthorizationFault">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidArgumentFault" name="InvalidArgumentFault">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationFault" name="AuthenticationFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalPollServiceSoapBinding" type="tns:ExternalPoll">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getExternalPollDocumentNew">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getExternalPollDocumentNew">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getExternalPollDocumentNewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AuthorizationFault">
        <soap:fault name="AuthorizationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentFault">
        <soap:fault name="InvalidArgumentFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFault">
        <soap:fault name="AuthenticationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetExternalPollDocumentNew">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetExternalPollDocumentNew">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetExternalPollDocumentNewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AuthorizationFault">
        <soap:fault name="AuthorizationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentFault">
        <soap:fault name="InvalidArgumentFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFault">
        <soap:fault name="AuthenticationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setExternalPollDocumentProcessed">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setExternalPollDocumentProcessed">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setExternalPollDocumentProcessedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AuthorizationFault">
        <soap:fault name="AuthorizationFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentFault">
        <soap:fault name="InvalidArgumentFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationFault">
        <soap:fault name="AuthenticationFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalPollService">
    <wsdl:port binding="tns:ExternalPollServiceSoapBinding" name="ExternalPollPort">
      <soap:address location="http://localhost:8080/webservices/SOAP/ExternalPoll-v1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
